<div class="container">
  <div class="user-info">
    <div class="user">
      <div class="user-wrapper">
        <app-user></app-user>
      </div>
    </div>
    <div class="user-coins">
      <h3 class="title-coins">Всего монет</h3>
      <div class="coins-wrapper">
        <img src="assets/Coin.png" />
        <span class="coin-points">1333</span>
      </div>
    </div>
    <div class="user-carma">
      <h3 class="title-carma">Карма</h3>
      <div class="carma-wrapper">
        <div class="carma-month">
          <img src="assets/KarmaSmall.png" />
          <span class="carma-points">4567</span>
          <p class="carma-description">За месяц</p>
        </div>
        <div class="carma-total">
          <img src="assets/KarmaSmall.png" />
          <span class="carma-points">17912</span>
          <p class="carma-description">Общая</p>
        </div>
      </div>
    </div>
  </div>
</div>
