:host {
  --circle-background: #FF1D45;
  --circle-background-completed: #26e27c;
  --count-background-complete: url('~src/assets/done-icon.png');
  --count-background: url('~src/assets/cancel-icon.png');
  --count-visible: transparent;
}
