:host {
  --circle-background: #26e27c;
  --circle-background-completed: #26e27c;
  --count-background: linear-gradient(180deg, #aca4ff 0%, #8478ff 0.01%, #5b4bff 99.98%);
  --count-visible: #ffffff;;
}
