.targets-container {
  background: linear-gradient(180deg, #f9f9ff 0%, #ffffff 0%, #f2f1ff 100.05%);
  border-radius: 12px;
  margin-left: 20px;
  padding: 0px 14px 12px 14px;
}

.targets-top-container {
  border-radius: 12px;
  padding: 32px 40px 32px 20px;
}

.targets-top-container span {
  font-family: "Noto Sans";
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  padding-left: 88px;

  color: #524e7d;
}

.target-number-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 188px;
}

.target-number {
  padding: 6px 14px;
  background: linear-gradient(
    180deg,
    #aca4ff 0%,
    #8478ff 0.01%,
    #5b4bff 99.98%
  );
  border-radius: 12px;

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;

  color: #ffffff;
}

.target-description {
  max-width: 128px;
  font-family: "Noto Sans";
  font-size: 16px;
  line-height: 180%;

  color: #1e1584;

  padding-left: 16px;
}

.target-awards {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;

  color: #1e1584;
}

.target-award-coins {
  display: flex;
  align-items: center;

  padding-bottom: 8px;
}

.target-award-coins span {
  padding-left: 8px;
}

.target-award-carma {
  display: flex;
  align-items: center;
}

.target-award-carma span {
  padding-left: 8px;
}

.target {
  display: flex;
  padding: 12px 20px;
  margin-bottom: 12px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: rgba(114, 101, 251, 0.1);
  backdrop-filter: blur(52.8455px);
  border-radius: 12px;
}

.target-time-until {
  max-width: 66px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #1e1584;
  text-align: center;
}
