  <div class="container">
    <div class="target">

      <h3 class="target-title">
        Коплю на футболку
      </h3>

      <img src="assets/Frame%209.png" alt="">
    </div>

    <div class="coin-status">
      <img class="coin-image" src="assets/Coin1.png">
      <div class="coin-info">
        <span class="coin-collect">Собрано</span>
        <span class="coin-count">141/324</span>
        <div class="coin-progress">
          <div class="coin-bar"></div>
        </div>
      </div>
    </div>
  </div>
