<div class="container">
  <div class="header">

    <div class="back-btn-wrapper">
    <button class="back-btn">
      <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3.39564 8.75056L8.08914 13.578L6.85189 14.8506L0.0461432 7.85058L6.85189 0.850585L8.08914 2.12315L3.39564 6.95061L14.0461 6.95061L14.0461 8.75056L3.39564 8.75056Z" fill="#1E1584"/>
    </svg>
    </button>
    <span class="back-btn-text">Назад</span>
    </div>

    <h2 class="title">Профиль</h2>

    <div class="btn-social-wrapper">
    <button class="btn-social">
      <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19.8334 23.9163H8.16671C4.66671 23.9163 2.33337 22.1663 2.33337 18.083V9.91634C2.33337 5.83301 4.66671 4.08301 8.16671 4.08301H19.8334C23.3334 4.08301 25.6667 5.83301 25.6667 9.91634V18.083C25.6667 22.1663 23.3334 23.9163 19.8334 23.9163Z" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M19.8333 10.5L16.1816 13.4167C14.98 14.3733 13.0083 14.3733 11.8066 13.4167L8.16663 10.5" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>

    <button class="btn-social">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16 2H8C4 2 2 4 2 8V21C2 21.55 2.45 22 3 22H16C20 22 22 20 22 16V8C22 4 20 2 16 2Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M7 9.5H17" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M7 14.5H14" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
    </div>
  </div>

  <div class="page-layout">
    <app-user-block></app-user-block>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>




</div>




