.header {
  display: flex;
  padding-left: 20px;
}

.header__title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;

  color: #1E1584;

  padding-bottom: 32px;

}

.header__buttons_wrapper {
  padding-bottom: 40px;
  padding-left: 28px;
}


.header__button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;

  color: #524E7D;

  background: rgba(114, 101, 251, 0.1);
  border: none;
  border-radius: 12px;

  padding: 12px 16px;
}

.header__button:not(:first-child) {
  margin-left: 20px;
}

.header__button:last-child {
  position: relative;
}

//.nav-target {
//  display: inline-flex;
//  flex-direction: column;
//  margin: 0 0 40px 48px;
//}

.header__cards {
  padding-left: 20px;
}

.active {
  background: linear-gradient(180deg, #ACA4FF 0%, #7B6FFF 0.01%, #5242FF 99.98%);
  color: #FFFFFF;
}

.main-content {
  display: flex;
  gap: 20px;
}
