<div class="container">
  <div class="header">
    <div class="header__wrapper">
      <div class="header__buttons_wrapper">
        <h1 class="header__title">Цели</h1>
        <div class="header__buttons">
        <button
          class="header__button"
          [routerLink]="['', 'main', 'active']"
          [routerLinkActive]="'active'"
        >
          Активные
        </button>
        <button
          class="header__button"
          [routerLink]="['', 'main', 'archive']"
          [routerLinkActive]="'active'"
        >
          Архив
        </button>
        <button
          class="header__button"
          [routerLink]="['', 'main', 'new']"
          [routerLinkActive]="'active'"
        >
          Новые
        </button>
      </div>
      </div>
        <router-outlet></router-outlet>

    </div>
    <div class="header__cards">
      <app-carma></app-carma>
      <app-coin-target></app-coin-target>
    </div>
  </div>
</div>
